<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.test.idol.vo.IdolGroup" alias="idolGroup"/>
        <typeAlias type="com.test.idol.vo.IdolMembers" alias="idolMembers"/>
        <typeAlias type="com.test.idol.vo.IdolGroupMembers" alias="idolGroupMembers"/>
        <typeAlias type="com.test.idol.vo.IdolAlbums" alias="idolAlbums"/>
        <typeAlias type="com.test.idol.vo.IdolGroupAlbums" alias="idolGroupAlbums"/>
    </typeAliases>
</configuration>